<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Email: </strong>
  <%= @donor.email %>
</p>
<p>
  <strong>Total donation: </strong>
  <%= number_to_currency(Donor.joins(:donations).where(:id => params[:id]).sum('value'))%>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
