<h1>Listing donations</h1>

<table>
  <thead>
    <tr>
      <th>Donor</th>
      <th>Value</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.donor.name %></td>
        <td><%= number_to_currency(donation.value) %></td>
        <td><%= donation.date %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <p>
      <strong>Total donation</strong>
      <%= number_to_currency(Donation.sum :value)%>
    </p>

  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
