<p id="notice"><%= notice %></p>

<p>
  <strong>Donor:</strong>
  <%= @donation.donor.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= number_to_currency(@donation.value) %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
