// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table
{
  width: 50%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #000000;
  border-collapse: collapse;
  border-bottom-left-radius: 0px;
}

td, th{
  border: 1px solid #000000;
  border-collapse: collapse;
}