<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar do %>
    <%= menu_item "Donors", donors_path%>

    <%= menu_item "Donations", donations_path%>
<% end%>

<%= yield %>

</body>
</html>